[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymongo = "*"
python-dateutil = "*"
whdtscraper = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
it = "python main.py it"
ca = "python main.py ca"
en = "python main.py en"
